<div class="dashboard">
    <app-admin-nav-bar></app-admin-nav-bar>
    <app-logout *ngIf="isLogOutModalOpen" (hideLogOutModal)="logOutModalToggle($event)"></app-logout>
    <div class="dashboard_container">
        <app-admin-side-bar (showLogOutModal)="logOutModalToggle($event)"></app-admin-side-bar>
        <div class="dashboard_content">
            <h4 class="intro">Overview</h4>
            <div class="topTab">
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_cube.svg" alt="">
                    <p id="title">All Products</p>
                    <p id="amount">{{productLength}}</p>
                </div>
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_active.svg" alt="">
                    <p id="title">Listed Products</p>
                    <p id="amount">{{this.listedProduct.length}}</p>
                </div>
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_pending.svg" alt="">
                    <p id="title">Pending Product</p>
                    <p id="amount">{{this.isNotListed.length}}</p>
                </div>
               
            </div>
            <div class="productsContainer">
                <div class="pcIntro">
                    <p id="proCount">All Products: {{productLength}}</p>
                    <p id="sorter">Sort By: Price</p>
                </div>
                <div class="productGrid">
                    <app-admin-product-card *ngFor="let product of products" [Products]="product"></app-admin-product-card>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
