<!-- Navigation Sidebar for mobile -->
<!-- <app-sidebar></app-sidebar> -->
<div class="_container">
    <div class="heroSection">
        <app-navbar></app-navbar>
        <div class="hero">
            <div class="centerText">
                <h1>Let Us Help You Succeed</h1>
                <p>Growing your business doesn’t have to be complicated. At RNCo, we offer trusted ecommerce tools, a dedicated affiliate network and everything you need to earn more income.</p>
                <a routerLink="/onboard" class="cta">Join the Network</a>
                <img src="../../assets/img/center_design.svg" id="center_design" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="social_proof">
        <h4>One Ring, Limitless Opportunities</h4>
        <p>Monetize your media channels and multiply your revenue exponentially</p>
    </div>
    <section class="section txt_first" id="first_sect">
        <div class="text-section">
            <p>
                The Ringroad Network is a <span class="bold">digital business</span> community that is anchored on digital technology. RNCo is everything you need to build and grow your business in Benin City.
            </p>
        </div>
        <div class="img_section">
            
        </div>
    </section>
    <section class="section img_first" id="second_sect">
        <div class="img_section">
            
        </div>
        <div class="text-section">
            <p>The platform enables strategic partnership between merchants and affiliates by providing tools and resources that <span class="bold">streamline their digital processes and routines</span></p>
        </div>
    </section>
    <section class="section txt_first" id="third_sect">
        <div class="text-section">
            <p><span class="bold">RNCo</span> is an infrastructure that enables sellers to create relationships with affiliates who have qualified media channels in the BEnin City market.</p>
        </div>
        <div class="img_section">
            
        </div>
    </section>
    <section class="options">
        <div class="aff_opt">
            <div class="opt_content">
                <h4>Affiliate Advantage</h4>
                <!-- <p>Join thousands of affiliate marketters who are earning extra income by promoting top quality offers to millions of customers all around the world.</p>
                 -->
                <ul>
                    <li>Earn Up to 30% Per Sale</li>
                    <li>Industry Leading Tracking</li>
                    <li>Reliable Payments</li>
                </ul>
                <a routerLink="/onboard">Affiliate Registration</a>
            </div>
        </div>
        <div class="mer_opt">
            <div class="opt_content">
                <h4>Merchant Advantage</h4>
                <!-- <p>Whether you’re looking to start or expand your business reach, RNCo can connect you with thousands of passionate affiliates.</p> -->
                <ul>
                    <li>Sell to a larger audience with low marketing cost</li>
                    <li>Sell unlimited product</li>
                    <li>We our Automated process, you do not have to do much</li>
                </ul>
                <a routerLink="/onboard">Merchant Registration</a>
            </div>
        </div>
        
    </section>
    <section class="explanation">
        <div class="exp_content">
            <h4>How The Community Works</h4>
            <p>Monetize your media channels and multiply your revenue exponentially</p>
            <div class="stepContainer">
                <div class="step_box">
                    <img src="../../assets/icons/create_user_icon.svg" alt="">
                    <p>Create User Account</p>
                </div>
                <div class="step_box">
                    <img src="../../assets/icons/verify_account_icon.svg" alt="">
                    <p>Verify Account</p>
                </div>
                <div class="step_box">
                    <img src="../../assets/icons/login_step_icon.svg" alt="">
                    <p>Login to Dashboard</p>
                </div>
                <div class="step_box">
                    <img src="../../assets/icons/market_place_icon.svg" alt="">
                    <p>Visit Our Marketplace</p>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
