@import url('../../admin-style.scss');
.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    .campaignSuccess{
        width: 55%;
        padding: 1rem;
        border-radius: 12px;
        margin: 0 auto;
        background-color: #fff;
        .topSect{
            width: 100%;
            display: flex;
            justify-content: space-between;
            #init{
                display: flex;
                align-items: center;
            }
            .affiliateName{
                background: #DEEAFB;
                font-size: 14px;
                width: fit-content;
                height: fit-content;
                border-radius: 8px;
                padding: 4px 8px;
                color: #1A66CD;
                font-weight: 600;
            }
        }
        .productContent{
            display: grid;
            grid-template-columns: 40% 1fr;
            width: 95%;
            margin: 0 auto;
            .product_img_gallery{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .main_img{
                    width: 16rem;
                    height: 16rem;
                    border-radius: 50%;
                }
                .small_img_row{
                    display: flex;
                    flex-direction: row;
                    margin-top: 16px;
                    .subImg{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin: 0px 4px;
                    }
                }
            }
            .product_specification{
                .ps_top{
                    #product_name{
                        font-size: 28px;
                        font-weight: 700;
                        
                    }
                    #location{
                        color: #1A66CD;
                        font-weight: 600;
                    }
                    #state{
                        color: #889399;
                        font-size: 14px;
                    }
                    #price{
                        margin: 16px 0px;
                        font-size: 20px;
                        font-weight: 700;
                        
                    }
                }
                .specs_grid{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    margin: 1rem 0 px;
                    .spec_box{
                        .spec_title{
                            color: #889399;
                            font-size: 14px;
                        }
                        .productSpec{
                            font-size: 16px;
                        }
                    }
                }
                .qrArea{
                    margin: 1rem 0px;
                    // padding: 1rem 0px;
                    #notice{
                        color: #3D5059;
                        font-weight: 600;
                        margin: 0.5rem 0px;
                    }
                    .qrImgArea{
                        display: flex;
                        align-items: center;
                        .downloadQr{
                            background-color: #fff;
                            border: 1px solid #1A66CD;
                            border-radius: 8px;
                            width: fit-content;
                            height: fit-content;
                            padding: 6px 10px;
                            color: #1A66CD;
                            outline: none;
                            margin-left: 16px;
                        }
                    }
                    .linkholder{
                        margin: 1rem 0px;
                        .shortLink{
                            width: fit-content;
                            height: fit-content;
                            display: flex;
                            align-items: center;
                            padding: 8px 10px;
                            border-radius: 8px;
                            background: #E1EAF5;
                            #copyQr{
                                margin-left: 8px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #done{
            width: 100%;
            background-color: #1A66CD;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 8px;
            padding: 12px 0px
        }
    }
}
.dashboard_content{
    display: relative;
    width: 95%;
    max-height: 85vh;
    overflow-y: scroll;
    margin: 0 auto;
    color: #3D5059;
    p.affiliateName{
        background: #DEEAFB;
        font-size: 14px;
        width: fit-content;
        height: fit-content;
        border-radius: 8px;
        padding: 4px 8px;
        color: #1A66CD;
        font-weight: 600;
    }
    .product_contentTop{
        display: grid;
        grid-template-columns: 40% 1fr;
        width: 95%;
        margin: 0 auto;
        .product_img_gallery{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .main_img{
                width: 16rem;
                height: 16rem;
                border-radius: 50%;
            }
            .small_img_row{
                display: flex;
                flex-direction: row;
                margin-top: 16px;
                .subImg{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 0px 4px;
                }
            }
        }
        .product_specification{
            .ps_top{
                #product_name{
                    font-size: 28px;
                    font-weight: 700;
                    
                }
                #location{
                    color: #1A66CD;
                    font-weight: 600;
                }
                #state{
                    color: #889399;
                    font-size: 14px;
                }
                #price{
                    margin: 16px 0px;
                    font-size: 20px;
                    font-weight: 700;
                    
                }
            }
            .specs_grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 8px;
                .spec_box{
                    .spec_title{
                        color: #889399;
                        font-size: 14px;
                    }
                    .productSpec{
                        font-size: 16px;
                    }
                }
            }
        }
        .button_row{
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 8px 0px;
            justify-content: space-between;
            button, a{
                width: 98%;
                padding: 8px 0px;
                border-radius: 4px;
                font-weight: 600;
                outline: none;
                text-align: center;
                text-decoration: none;
                padding: 10px 0px;
            }
            .add{
                background: #1A66CD;
                color: #fff;
                border: 1px solid #1A66CD;
            }
        }
    }
    .product_content_bottom{
        width: 95%;
        margin: 0 auto;
        .pdTitle,.paTitle{
            color: #889399;
            font-weight: 700;
        }
        p{
            font-size: 14px;
        }
        .product_description{
            margin-bottom: 1rem;
        }
    }
}