<app-dashboard-navbar></app-dashboard-navbar>
<app-logout *ngIf="isLogOutModalOpen" (hideLogOutModal)="logOutModalToggle($event)"></app-logout>
<div class="dashboard_container">
    <app-dashboard-sidebar (showLogOutModal)="logOutModalToggle($event)"></app-dashboard-sidebar>
    <div class="dashboard_content">
        <p class="topCon">
            <img [routerLink]="['/merchant/settings']" src="../../../../assets/icons/Dashboard_icons/dash_arrow_left.svg" alt="">
            Change Password
        </p>
        <div class="main_holder">
            <form>
                <div class="formGroup">
                    <label for="password">Enter Current Password</label>
                    <input name="password" [type]="hideInitPassword ? 'password' : 'text'" id="password" formControlName="password">
                    <div class="visibilityToggler" (click)="hideInitPassword = !hideInitPassword">
                        <!-- eye close -->
                        <img src="../../assets/icons/password_eye_open.svg" alt="" srcset="">
                        <!-- eye open -->
                    </div>
                </div>
                <div class="formGroup">
                    <label for="password">Enter New Password</label>
                    <input name="password" [type]="hidePassword ? 'password' : 'text'" id="password" formControlName="password">
                    <div class="visibilityToggler" (click)="hidePassword = !hidePassword">
                        <!-- eye close -->
                        <img src="../../assets/icons/password_eye_open.svg" alt="" srcset="">
                        <!-- eye open -->
                    </div>
                </div>
                <div class="formGroup">
                    <label for="password">Reenter New Password</label>
                    <input
                        [ngClass]="isConfirmed ? 'conPass' : 'noConPass'" 
                        [type]="hideConPassword ? 'password' : 'text'" name="conPassword" 
                        [(ngModel)]="confirmPassword" id="conPassword"
                        (keyup)="passChecker()" 
                        formControlName="password"
                    >
                    <div class="visibilityToggler" (click)="hideConPassword = !hideConPassword">
                        <!-- eye close -->
                        <img src="../../assets/icons/password_eye_open.svg" alt="" srcset="">
                        <!-- eye open -->
                    </div>
                </div>
                <input type="submit" value="Change Password">
                <p id="info">Can't recall your current password <a [routerLink]="['/merchant/resetPassword']">Reset Password</a></p>
            </form>
        </div>
    </div>
</div>
