<footer class="footer">
    <div class="ft_content">
        <div class="ft_talk">
            <img src="../../../assets/img/rnco_logo_white.png" alt="" srcset="">
            <h3>RingRoad Network Community</h3>
            <small><i>A subsidiary of Adlore Business Enterprise</i></small>
            <p id="top_text">You can earn more income by joining our business community7</p>
            <div class="social_links">
                <a href="#"><img src="../../../assets/icons/linkedIn_icon.svg" alt=""></a>
                <a href="#"><img src="../../../assets/icons/twitter_icon.svg" alt=""></a>
                <a href="#"><img src="../../../assets/icons/facebook_icon.svg" alt=""></a>
            </div>
            <p>All rights reserved. &copy; Ringroad Network Services</p>
        </div>
        <div class="ft_links">
            <div>
                <p class="ft_link_header">Contact</p>
                <div class="ft_link_content">
                    <p>Address: 12 Aimure Avenue, Benin City, Edo State.</p>
                    <a href="mailto:">hello@rn.co</a>
                </div>
            </div>
            <div>
                <p class="ft_link_header">Company</p>
                <div class="ft_link_content">
                    <a href="">About</a>
                    <a href="">Team</a>
                    <a href="">FAQs</a>
                    <a href="">Blog</a>
                    <a href="">Career</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
            <div>
                <p class="ft_link_header">Legal</p>
                <div class="ft_link_content">
                    <a href="https://github.com/adlorebe/Policy-Documents/blob/7a1cd9a81e3e75acb36027f1ac78c481d74f92ef/Advertising%20Policy%20.pdf" target="_blank">Terms and Conditions</a>
                    <a href="https://github.com/adlorebe/Policy-Documents/blob/7a1cd9a81e3e75acb36027f1ac78c481d74f92ef/Advertising%20Policy%20.pdf" target="_blank">Advertising Policy</a>
                    <a href="https://github.com/adlorebe/Policy-Documents/blob/7a1cd9a81e3e75acb36027f1ac78c481d74f92ef/Privacy%20Policy%20.pdf" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
