<div class="siteNotif" *ngIf="userNew">
    <app-merchant-welcome (toNextStage)="valueFromChild($event)" *ngIf="Step.first_step"></app-merchant-welcome>
    <app-business (toNextStageSecond)="valueFromChild($event)" (isOnboardingReg)="storeReg($event)" *ngIf="Step.second_step"></app-business>
    <app-few-steps (toNextStageThird)="valueFromChild($event)" *ngIf="Step.third_step"></app-few-steps>
    <app-upload-kyc (toNextStageFourth)="valueFromChild($event)" [isOnboarderRegistered]="isOnboarderReg" *ngIf="Step.fourth_step"></app-upload-kyc>
    <app-add-bank-account (toNextStageFifth)="valueFromChild($event)" *ngIf="Step.fifth_step"></app-add-bank-account>
    <app-registration-payment (toNextStageSixth)="valueFromChild($event)" *ngIf="Step.sixth_step" ></app-registration-payment>
    <app-registraton-complete (completeRegistration)="finalStep()" *ngIf="Step.seventh_step"></app-registraton-complete>
    <!-- *ngIf="Step.seventh_step" -->
</div>
<div class="dashboard_wrapper">
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
