<nav>
   <!-- desktop nav -->
   <img src="../../../assets/img/rnco_logo.png" alt="" srcset="">
   <div class="nav_menu">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a href="#">Merchant</a>
      <a href="#">Affiliate</a>
      <a href="#">Contact Us</a>
   </div>
   <div class="con_nav_menu">
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/onboard" id="cta_nav">Get started</a>
   </div> 
   <!-- Mobile nav -->
   <div class="">
         <img id="menu_open_icon" src="../../../assets/icons/menu_open_icon.svg" alt="">

   </div>
</nav>

