<div class="dashboard">
    <app-admin-nav-bar></app-admin-nav-bar>
    <app-logout *ngIf="isLogOutModalOpen" (hideLogOutModal)="logOutModalToggle($event)"></app-logout>
    <div class="dashboard_container">
        <app-admin-side-bar (showLogOutModal)="logOutModalToggle($event)"></app-admin-side-bar>
        <div class="dashboard_content">
            <h4 class="intro">Overview</h4>
            <div class="topTab">
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_cube.svg" alt="">
                    <p id="title">All Affiliate</p>
                    <p id="amount">{{affNum}}</p>
                </div>
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_active.svg" alt="">
                    <p id="title">Active Affiliate</p>
                    <p id="amount">{{this.activeAff.length}}</p>
                </div>
                <div class="tpbox">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_pending.svg" alt="">
                    <p id="title">Inactive Affiliates</p>
                    <p id="amount">{{this.suspendedAff.length}}</p>
                </div>
                <div class="tpbox" [routerLink]="['/admin/affiliateOnboard']">
                    <img id="tpIcon" src="../../assets/icons/Dashboard_icons/alt_new.svg" alt="">
                    <p>NewAffiliate</p>
                </div>
            </div>
            <div class="merchants_table">
                <p class="merIntro">All Affiliates</p>
                <table class="table-auto">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Affiliate Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of allAffiliates; let i = index" [id]="item.id" (click)="getAffiliate(item.id)">
                            <td>{{i+1}}</td>
                            <td id="table_name">
                                <p>{{item.firstName}} {{item.middleName == null ? '': item.middleName}} {{item.lastName}}</p>
                                <small>{{item.email}}</small>
                            </td>
                            <td id="table_business">
                                <p>{{item.address == null ? 'N/A': item.address.street + ', ' +  item.address.city}}</p>
                                <small>{{item.address == null ? '': item.address.lga + ', ' + item.address.state}}</small>
                            </td>
                            <td>{{item.phoneNumber}}</td>
                            <td *ngIf="item.activated == true">Active</td>
                            <td *ngIf="item.activated == false">Inactive</td>
                            <td id="actionBox">
                                <!-- action btn -->
                                <img src="../../../../assets/icons//Dashboard_icons/more_vertical.svg" alt="" srcset="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
