<div class="registration-complete">
    <div class="reg-com-con">
        <p class="rcc-intro">Well done !!</p>
        <img src="../../../assets/icons/complete-checkmark.svg" alt="" srcset="">
        <p class="rcc-title">You just completed your onboarding</p>
        <p class="nText">You deserve a glass of water for a job well done <br>
            It is now time to start earning on the ringroad network</p>
        <button (click)="returnToDashboard()">Create New User</button>
    </div>
</div>

