<app-dashboard-navbar></app-dashboard-navbar>
<app-logout *ngIf="isLogOutModalOpen" (hideLogOutModal)="logOutModalToggle($event)"></app-logout>
<div class="dashboard_container">
    <app-dashboard-sidebar (showLogOutModal)="logOutModalToggle($event)"></app-dashboard-sidebar>
    <div class="add_product_container">
        <div id="previous_click">
            <div>
                <img src="../../../../assets/icons/arrow-left.svg" alt="" srcset="" [routerLink]="['/merchant/products']">
                <p>EDIT PRODUCT</p>
            </div>
            <a [routerLink]=""><img src="../../../../assets/icons/delete-red.svg" alt=""> Delete Product</a>
        </div>
        <form class="product_form_content" (ngSubmit)="submitform()" #form="ngForm">
            <div class="images-box">
                <div class="ib-top-row">
                    <p id="first">Images</p>
                    <p id="second">(Max 6 Images)</p>
                </div>
                <div class="image-row">
                    <!-- 6 images placeholder initially -->
                    <div class="image-con" *ngIf="fileUrlArray.length == 0; else showImages">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                        <img class="placeholder" src="../../../../assets/img/placeholder_img.png" alt="">
                    </div>
                    <div class="image-con" #showImages>
                        <div *ngFor="let file of fileArray" class="image-holder">
                            <img class="productImage" [id]="file.id"  [src]="file.imageUrl" alt="">
                            <button class="deleteBtn" (click)="deleteImage(file.id, file.imageUrl)"> <img src="../../../../assets/icons/delete-black.svg" alt=""> Delete</button>
                        </div>
                    </div>
                </div>
                <label for="fileUpload" id="newPhotoBtn">
                    <img src="../../../../assets/icons/image-add.svg" alt="">
                    Add New Photo
                    <input type="file" id="fileUpload" (change)="uploadImage($event)">
                </label>
            </div>
            <div class="product_form">
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input type="text" class="form-control" id="productName" name="productName" #prodName="ngModel"
                        [(ngModel)]="productName" required>
                    <div *ngIf="(prodName.dirty || prodName.touched || form.submitted) && !prodName.valid">
                        <small *ngIf="prodName.required">Product name is required</small>
                    </div>


                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="category" id="category" #cate="ngModel" [(ngModel)]="category" required>
                            <option value="">Select Category</option>
                            <option value="SHOES">Shoes</option>
                            <option value="CLOTHING">Clothing</option>
                            <option value="TECH">Tech</option>
                            <option value="FOOD">Food</option>
                        </select>
                        <div *ngIf="(cate.dirty || cate.touched || form.submitted) && !cate.valid" required>
                            <small *ngIf="cate.required">Category fiels is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="productCode">Product Code</label>
                        <input type="text" placeholder="Enter Product Code" name="productCode" id="productCode"
                            #prodCode="ngModel" [(ngModel)]="productCode" required>
                        <div *ngIf="(prodCode.dirty || prodCode.touched || form.submitted) && !prodCode.valid">
                            <small *ngIf="prodCode.required"> Product code is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="unitPrice">Unit Price</label>
                        <div class="input-group">
                            <input type="number" id="unitInput" name="unitPrice" placeholder="0" #unit="ngModel"
                                [(ngModel)]="unitPrice" required>
                            <p class="after">NGN</p>
                            <div *ngIf="(unit.dirty || unit.touched || form.submitted) && !unit.valid">
                                <small *ngif="unit.required">Unit Price is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" name="quantit" id="quantit" placeholder="Enter Quantity"
                            #quan="ngModel" [(ngModel)]="quantity" required>
                        <div *ngIf="(quan.dirty || quan.touched || form.submitted) && !quan.valid">
                            <small *ngIf="quan.required">Quantity is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="deliveryPeriod">Delivery Period</label>
                        <select name="deliveryPeriod" id="deliveryPeriod" required #delivery="ngModel"
                            [(ngModel)]="deliveryPeriod">
                            <option value="">Period</option>
                            <option value="DAY">Day</option>
                            <option value="WEEK">Week</option>
                            <option value="MONTH">Month</option>
                        </select>
                        <div *ngIf="(delivery.dirty || delivery.touched || form.submitted) && !delivery.valid">
                            <small *ngIf="delivery.required">Delivery Period is required</small>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="number" name="deliveryDuration" placeholder="Duration" #duration="ngModel"
                            [(ngModel)]="deliveryDuration" id="deliveryDuration">
                        <div *ngIf="(duration.dirty || duration.touched || form.submitted) && !duration.valid">
                            <small *ngIf="duration.required">Duration is required</small>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="commission">Commission</label>

                        <select name="conversionType" id="conversionType" #commissionType="ngModel"
                            [(ngModel)]="conversionType">
                            <option value="">Commission Style</option>
                            <option value="PERCENT">Percentage</option>
                            <option value="AMOUNT">Amount</option>
                        </select>
                        <div
                            *ngIf="(commissionType.dirty || commissionType.touched || form.submitted) && !commissionType.valid">
                            <small *ngIf="commissionType.requird">Commission is required</small>
                        </div>



                    </div>
                    <div class="form-group">
                        <label for="rate">Rate</label>
                        <input type="number" name="rate" id="rate" placeholder="0" #rates="ngModel"
                            [(ngModel)]="rate" (blur)="checkRate()">
                        <div *ngIf="(rates.dirty || rates.touched || form.submitted) && !rates.valid">
                            <small *ngif="rates.required">Rate cannot be empty</small>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="topper">
                        <label for="description">Product Description</label>
                        <p>( Max 500 characters )</p>
                    </div>
                    <textarea name="description" id="description" maxlength="500" #desc="ngModel"
                        [(ngModel)]="description"></textarea>

                </div>
                <div class="form-group ">
                    <label for="delivary_options">Delivery Options</label>
                    <div class="radioform">
                        <div class="radio_group">
                            <input type="radio" name="deliveryOption" #Options="ngModel" value="PICK_UP"
                                [(ngModel)]="deliveryOption" id="deliveryOption">
                            <p>Pick Up</p>
                        </div>
                        <div class="radio_group">
                            <input type="radio" name="deliveryOption" #Options="ngModel" value="DOOR_DELIVERY"
                                [(ngModel)]="deliveryOption" id="deliveryOption">
                            <p>Door Delivery</p>
                        </div>
                    </div>
                    <div *ngIf="(Options.dirty || Options.touched || form.submitted) && !Options.valid">
                        <small *ngIf="Options.required"> Delivery Option cannot be empty</small>
                    </div>
                </div>
                <button type="submit" id="submitButton">Save</button>
            </div>
        </form>
    </div>
</div>
