<app-dashboard-navbar></app-dashboard-navbar>
<a [routerLink]="['/merchant/profile']" class="linkBack">
    <img src="../../../../assets/icons/arrow-left.svg" alt="">
    Edit Profile
</a>
<div class="edProfile_content">
    <div class="badge_row">
        <p class="personal" (click)="togglerFunction('Personal')" [ngClass]="{'active': currentModel == 'Personal'}">Personal Information</p>
        <p class="business" (click)="togglerFunction('Business')" [ngClass]="{'active': currentModel == 'Business'}">Business Information</p>
        <p class="account" (click)="togglerFunction('Account')" [ngClass]="{'active': currentModel == 'Account'}">Account Information</p>
    </div>
    <div class="toggleHolder">
        <app-edit-merchant-personal [User]="user" *ngIf="currentModel == 'Personal'"></app-edit-merchant-personal>
        <app-edit-merchant-business [User]="user" *ngIf="currentModel == 'Business'" ></app-edit-merchant-business>
        <app-edit-merchant-bank [User]="user" *ngIf="currentModel == 'Account'"></app-edit-merchant-bank>
    </div>
</div>
