.uploadKyc{
    width: 100%;
    .uploadKycContent{
        width: 60vw;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 2rem 1.5rem;
        border-radius: 8px;
        small{
            color:red;
        }
        .step_indicator{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .SI_box{
                border-radius: 4px 18px 18px 4px;
                padding: 8px 0px;
                background: hsla(0, 0%, 85%, 0.4);
                font-weight: 600;
                width: 25%;
                text-align: center;
            }
            .SI_box:first-of-type{
                color: #fff;
                background: #074DAD;
            }
        }
        .UK_intro{
            margin-top: 1.5rem;
            p#up{
                font-weight: 700;
                color: rgba(64, 64, 64, 0.6);
                font-size: 16px;
            }
            .notification{
                display: flex;
                justify-content: flex-start;
                padding: 8px 4px;
                background: #E1EAF5;
                align-items: center;
                border-radius: 4px;
                margin: 4px 0px;
                p{
                    font-size: 12px;
                    color: #074DAD;
                    margin-left: 4px;
                    font-weight: 600;
                }
            }
        }
        .UK_con{
            .personal_docs, .business_docs{
                margin: 8px 0px;
                p{
                    font-size: 14px;
                    font-weight: 600;
                    color: rgba(64, 64, 64, 0.6);
                }
                .document_row{
                    width: 50%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    column-gap: 16px;
                    justify-content: space-between;
                    align-items: start;
                    .form_group{
                        width: 100%;
                        p{
                            font-size: 12px;
                        }
                        .dr_p_row{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 90%;
                        }
                        select,input{
                            padding: 8px 0px;
                            border-radius: 8px;
                            width: 100%;
                            border: 1px solid rgba(64, 64, 64, 0.2);
                            font-size: 14px;
                            margin: 4px 0;
                            outline: none;
                        }
                        input{
                            padding: 8px 1.5%;
                            width: 97%;
                            font-size: 14px;
                        }
                        #doc_upload{
                            width: 100%;        
                        }
                        #doc_upload::file-selector-button{
                            color: #074DAD;
                            background: #E1EAF5;
                            border-radius: 4px;
                            border: none;
                            padding: 4px 6px;
                            font-size: 12px;
                            font-weight: 600;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .doneUploading{
            width: 100%;
            color: #fff;
            background-color: #074DAD;
            padding: 12px 0px;
            font-weight: 600;
            border-radius: 4px;
            outline: none;
            border: none;
            justify-self: center;
            margin-top: 1rem;
            align-self: center;
            cursor: pointer;
            &:focus{
                background-color: #708aaf;
            }
        }
        .cancelUpload{
            background-color: #fff;
            border: none;
            outline: none;
            color: #074DAD;
            align-self: center;
            font-size: 14px;
            margin-top: 8px;
            cursor: pointer;
        }
    }
}