.step_indicator{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    .SI_box{
        border-radius: 4px 18px 18px 4px;
        padding: 8px 0px;
        background: hsla(0, 0%, 85%, 0.4);
        font-weight: 600;
        width: 25%;
        text-align: center;
    }
    .SI_box:first-of-type{
        color: #fff;
        background: #ed2727;
    }
    .SI_box:nth-child(2){
        color: #fff;
        background-color: #074DAD;
    }
    .SI_box:last-child{
        color: #fff;
        background: #10c576;
    }
}