<app-dashboard-navbar></app-dashboard-navbar>
<app-logout *ngIf="isLogOutModalOpen" (hideLogOutModal)="logOutModalToggle($event)"></app-logout>
<div class="dashboard_container">
    <app-aff-dashboard-sidebar (showLogOutModal)="logOutModalToggle($event)"></app-aff-dashboard-sidebar>
    <div class="dashboard_content">
        <p class="topCon">
            <img [routerLink]="['/affiliate/settings']" src="../../../../assets/icons/Dashboard_icons/dash_arrow_left.svg" alt="">
            Reset Password
        </p>
        <div class="main_holder">
            <form>
                <div class="formGroup">
                    <label for="email">Enter Email Address</label>
                    <input name="email" type="email" id="email" formControlName="email" [ngModel]="email" placeholder="Yourname@email.com">
                </div>
                <input [disabled]="email.length == 0" type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</div>

