.dashboard_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    .togglesidebar{
        display: none;
    }
    #logo{
        width: 75px;
        height: 75px;
    }
    .user_id{
        display: flex;
        align-items: center;
        cursor: pointer;
        #userName{
            font-size: 14px;
            font-weight: 700;
            color: #1A66CD;
        }
        #userImage{
            width: 50px;
            height: 50px;
            border-radius: 35px;
            margin-left: 8px;
        }
    }
}

@media screen and (max-width:768px){
    .togglesidebar{
        display:flex !important;
    }
    .user_id{
        display:none !important;
    }
}