<div class="adPersonalDetails">
    <div class="pdtopper">
        <p>Personal Information</p>
    </div>
    <form (ngSubmit)="validateForm('second_step')" #form="ngForm" novalidate>
        <div class="formGroup">
            <label for="firstName">First Name</label>
            <input type="text" [(ngModel)]="firstName" #fname="ngModel" name="firstName" id="firstName"
                   placeholder="Enter first Name" required>
            <small *ngIf="(fname.dirty ||fname.touched || form.submitted) && !fname.valid">
                <small *ngIf="fname.required">First Name is required</small>
            </small>
        </div>
        <div class="formGroup">
            <label for="lastName">Last Name</label>
            <input type="text" [(ngModel)]="lastName" #lname="ngModel" name="lastName" id="lastName"
                   placeholder="Enter Last Name" required>

            <small *ngIf="(lname.dirty ||lname.touched || form.submitted) && !lname.valid">
                <small *ngIf="lname.required">Last Name is required</small>
            </small>
        </div>
        <div class="formGroup">
            <label for="middleName">Middle Name(Optional)</label>
            <input type="text" [(ngModel)]="middleName" name="middleName" id="middleName"
                   placeholder="Enter Middle Name">
        </div>
        <div class="formGroup">
            <label for="username">Username</label>
            <input type="text" name="login" [(ngModel)]="login" #username="ngModel" required id="login"
                   placeholder="@yourname">

            <small *ngIf="(username.dirty ||username.touched || form.submitted) && !username.valid">
                <small *ngIf="username.required">Username is required</small>
            </small>
        </div>
        <div class="formGroup">
            <label for="email">Email Address</label>
            <input type="email" name="email" #address="ngModel" (blur)="checkEmail()" pattern="[^ @]*@[^ @]*"
                   [(ngModel)]="email" id="email" placeholder="yourname@email.com" required>

            <small *ngIf="validEmail == false">&#33; This is not a valid email address</small>
            <small *ngIf="(address.dirty ||address.touched || form.submitted) && !address.valid">
                <small *ngIf="emailadd.required">Email Address is required</small>
                <small *ngIf="address.errors.pattern">Email must contain at least the @ character</small>
            </small>
        </div>
        <div class="formGroup phoneFg">
            <label for="phoneNumber">Phone Number</label>
            <div>
                <input type="text" value="+234" disabled>
                <input type="text" name="phoneNumber" #phone="ngModel" [(ngModel)]="phoneNumber" id="phoneNumber"
                       placeholder="08015379315">
            </div>

            <small *ngIf="validMobile == false">&#33; This is not a valid phone number</small>
            <small *ngIf="(phone.touched || phone.dirty || form.submitted) && !phone.valid">
                <small *ngIf="phone.required">Phone Number is required</small>
            </small>
        </div>
        <!-- Password -->
        <div class="formGroup">
            <label for="dob">Date of Birth</label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" #date="ngModel" [(ngModel)]="dateOfBirth" required>
            <small *ngIf="(date.touched || date.dirty || form.submitted) && !date.valid">
                <small *ngIf="date.required">Date Of Birth is required</small>
            </small>

        </div>
        <div class="formWholeLength">
            <button type="submit">Continue</button>
<!--            <a href="#">Cancel</a>-->
        </div>
    </form>
</div>