<app-navbar></app-navbar>
<!-- Merchant Onboarding -->
<section class="merchant">
    <div class="topper">
        <div class="tpLeft">
            <img routerLink="/onboard" src="../../../assets/icons/arrow-left.svg" alt="">
            <p>Get Started as an Affiliate :</p>
        </div>
        <button routerLink="/merchantOnboard">Register as a Merchant</button>
    </div>
    <div class="mrContent">
        <app-aff-personal></app-aff-personal>
    </div>
</section>
<app-footer></app-footer>
